body {
    margin: 0;
}

#topheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigator {
    display: flex;
    flex: 0.95;
    background-color: black;
    width: 100%;
    padding: .7rem;
    justify-content: space-between;
    border-radius: 2rem 0 0 2rem;
}

#menu {
    margin: 0;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.title {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#title-villagenlife {
    color: black;
    padding: 1rem 0 0 5rem;
    padding-right: 0;
    margin-right: 0;
}

#title-events {
    color: white;
    margin-left: 1rem;
}

.listlink {
    list-style-type: none;
    display: inline;
}

.navbarlink {

    color: white;
    text-decoration: none;
}